.kat__findus-container {
    display: flex;
}

.kat__findus-availability-box {
    width: 40%;
    background-image: url(../assets/bannerblur.png);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.kat__findus-googlemaps-box {
    flex: 1;
    background-color: black;
}

.kat__findus-banner {
    align-self: flex-start;
    margin-top: 50px;
    width: 500px;
    height: 207px;
    background-image: url(../assets/testimonialdash.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.kat__findus-banner p {
   font-family: var(--font-tertiary); 
   font-size: 40px;
   font-weight: bold;
   padding-top: 40px;
   padding-left: 50px;
   color: white;
}

.kat__findus-hours-box {
    display: flex;
    width: 600px;
    height: 300px;
    background-color: var(--color-bluetext);
    border-radius: 35px;
    margin-top: 80px;
    padding-top: 30px;
    padding-left: 40px;
}

.kat__findus-hours-box p {
    font-family: var(--font-tertiary);
    color: white;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 4%;
}

.kat__findus-hours-box-title {
    font-size: 25px;
}

.kat__findus-hours-box-info {
    display: flex;
    
    flex-direction: column;
}

.kat__findus-hours-box-group {
    
    justify-content: space-between;
}

.kat__findus-hours-box-day {
    flex: 1;
}

.kat__findus-hours-box-time {
    flex: 1; 
    justify-content: flex-end;
}